<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Rooms</title>
</head>
<body>
<h1>List of rooms</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Room category</th>
        <th scope="col">Beds</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="room: ${room}">
        <td th:text="${room.id}" />
        <td th:text="${room.roomCategory}" />
        <td th:text="${room.beds}" />
        <td th:text="${room.price}" />
        <td th:text="${room.roomStatus}" />
    </tr>
    <form action="/addroom" method="get">
        <button type="button" onclick="window.location.href='/rooms/add'" >Add room</button>
    </form>
    </tbody>
</table>
</body>
</html>